@model AgileCommercee.Data.Loai

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <title>BaboonStore - @ViewBag.Title</title>
    <meta name="viewport" content="width=device-width" />

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="stylesheet" type="text/css" href="~/MiniStore-1.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/MiniStore-1.0.0/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500&family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
</head>

<h1 align="center">CATEGORY DETAILS OF: @Html.DisplayFor(Model => Model.TenLoai)</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TenLoai)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TenLoai)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MoTa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MoTa)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hinh)
        </dt>
        <dd class="col-sm-10">
            <img width="200px" height="200px" src="~/images/Loais/@Model.Hinh" alt="@Model.TenLoai" />
        </dd>
    </dl>
</div>
<div>
    <a button type="submit" class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.MaLoai">Edit</a> |
    <a button type="submit" class="btn btn-primary" asp-action="Index">Back to List</a>
</div>
