@model AgileCommercee.Data.HangHoa

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 align="center">PRODUCT DETAILS OF: @Html.DisplayFor(Model => Model.TenHh)</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenHh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenHh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DonGia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DonGia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hinh)
        </dt>
        <dd class = "col-sm-10">
            <img width="200px" height="200px" src="~/images/HangHoas/@Model.Hinh" alt="@Model.TenHh" />
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgaySx)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgaySx)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GiamGia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GiamGia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoLanXem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoLanXem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MoTa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MoTa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaLoaiNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaLoaiNavigation.TenLoai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaNccNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaNccNavigation.TenCongTy)
        </dd>
    </dl>
</div>
<div>
    <a button type="submit" class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.MaHh">Edit</a> |
    <a button type="submit" class="btn btn-primary" asp-action="Index">Back to List</a>
</div>
